@model IEnumerable<Details>
@{
    ViewData["Title"] = "Index";
}

<h1>Details</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td>@contact.Name</td>
                <td>@contact.Email</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@contact.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@contact.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@contact.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
